.DS_Store
Thumbs.db
*.bak
.idea
*.pyc
*.log
*.iml
.git
.sonar
.project
.factorypath
.settings
.factorypath
.vscode
**/target/
.classpath
fab-deploy-qa.pyc
generatorConfig.xml
/bin/
.buildpath
.springBeans
.pydevproject
/target/
/deploy
/logs/
log.txt
/out/
