.DS_Store
Thumbs.db
*.bak
.idea
*.pyc
*.log
*.iml
.git
.sonar
.project
.factorypath
.settings
.factorypath
.vscode
**/target/
.classpath
fab-deploy-qa.pyc
generatorConfig.xml
/bin/
.buildpath
.springBeans
.pydevproject
zaozuo-web.iml
/target/
/deploy
/logs/
src/main/resources/log4j2.xml
src/main/resources/log4j2.xml
log.txt
/out/
